@import "/src/app/my-mixin.scss";
.card {
  width: 160px;
  margin: 10px 30px 10px 10px;
  border-radius: 10px;
  box-shadow: 3px 6px 13px -2px $shadowColor;
  background-color: $secondaryColor;
  display: flex;
  flex-direction: column;
}

.cover {
  height: 160px;
  border-radius: 10px 10px 0px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $greyColor;
  img {
    box-shadow: -5px 3px 4px 0px $shadowColor;
  }
}
.title {
  color: black;
  font-weight: bold;
}

.details {
  padding: 5px 10px;
}
