<app-header text="Lists">
  <div class="dropdown" style="float: right">
    <button routerLink="/create-list" class="btn-confirm" type="submit">Create List</button>
    <!-- <button class="dropbtn">Right</button> -->
    <!-- <button class="dropbtn" type="button" class="btn-sidebar">
      <i class="fa fa-bars" aria-hidden="true"> </i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/create-list">Create List</a>
    </div> -->
  </div>
</app-header>

<table>
  <tr>
    <th>ID</th>
    <th>List Name</th>
    <th>Books</th>
    <th>Delete</th>
  </tr>
  <tr [routerLink]="['/list/', item.id]" *ngFor="let item of lists">
    <td>{{ item.id }}</td>
    <td>{{ item.listName }}</td>
    <td>{{ item.books.length }}</td>
    <td>
      <button
        class="btn-red"
        type="button"
        (click)="deleteList(item.id, $event)"
      >
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</table>
