<app-header [text]="listData?.listName"></app-header>

<div *ngIf="listData" style="padding: 20px">
  <label
    >List Name:
    <span style="font-weight: bold">{{ listData.listName }}</span></label
  >
  <br />
  <br />
  <label
    >Number of Books:
    <span style="font-weight: bold">{{ listData.books.length }}</span>
  </label>
  <br />
  <br />
  <label *ngIf="listData.books.length > 0">
    Favorite Book:
    <span style="font-weight: bold">{{ listData.books[0].title }}</span>
  </label>

  <div style="margin-top: 20px">
    <label for="cars">Choose a Book:</label>
    <div style="display: flex; align-items: center">
      <div style="flex: 1">
        <select name="cars" id="cars" [(ngModel)]="selectedBook">
          <option value="0" disabled selected>Select your option</option>
          <option *ngFor="let item of availableBooks" [value]="item.id">
            {{ item.title }} ({{ item.year }})
          </option>
        </select>
      </div>
      <button (click)="addBookToList()" type="button" class="btn-confirm">
        Add to List
      </button>
    </div>

    <br /><br />

    <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
    </div> -->
    <ng-container *ngIf="listData.books.length > 0">
      <div style="margin-bottom: 10px; font-weight: bold">
        Drag and Drop to change the order of the books in your list
      </div>

      <table cdkDropList (cdkDropListDropped)="drop($event)">
        <tr>
          <th>ID</th>
          <th>Book Title</th>
          <th>Year</th>
          <th>Author</th>
          <th>Delete</th>
        </tr>

        <!-- books: [{
              id: 3,
              title: '1984',
              year: 1949,
              author: 'George Orwell',
              imgUrl: 'assets/1984.jpg'
            },], -->

        <tr
          [routerLink]="['/list/', item.id]"
          *ngFor="let item of listData.books"
          cdkDrag
          cdkDragLockAxis="y"
        >
          <td class="col-md">{{ item.id }}</td>
          <td class="col-md">{{ item.title }}</td>
          <td class="col-md">{{ item.year }}</td>
          <td class="col-md">{{ item.author }}</td>
          <td class="col-md">
            <button class="btn-red" type="button" (click)="deleteBook(item.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </table>
    </ng-container>
  </div>
</div>
