<app-header text="Create lists">
  <!-- <div class="dropdown" style="float: right">
    <button class="dropbtn" type="button" class="btn-sidebar">
      <i class="fa fa-bars" aria-hidden="true"> </i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/create-list">Create List</a>
      <a>Delete</a>
    </div>
  </div> -->
</app-header>
<div style="padding: 20px">
  <form [formGroup]="listForm" (ngSubmit)="createList()">
    <label for="listName">List Name</label>
    <input
      type="text"
      id="listName"
      formControlName="listName"
      placeholder="Your name.."
    />
    <span class="error-msg" *ngIf="submitted && f.listName.errors">
      Please enter a valid name
    </span>

    <!-- <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select> -->

    <div class="w-100 d-flex justify-content-end">
      <button class="btn-confirm" type="submit">
        Create
      </button>
    </div>
  </form>
</div>
