@import "/src/app/my-mixin.scss";

.sidebar-wrapper {
  position: fixed;
  z-index: 1;
  width: 250px;
  overflow: auto;
  background-color: $primaryColor;
  height: 100%;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    .btn-sidebar {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-sidebar:hover {
      background-color: #ffffff38;
    }
  }
}
