<div class="sidebar-wrapper">
    <div class="logo">

        <!-- <button type="button" class="btn-sidebar">
            <i class="fa fa-bars" aria-hidden="true"> </i>
        </button> -->

        <h4>Favorite Books</h4>


        <!-- <img src="assets/img/logo.svg" width="100" alt=""> -->
    </div>
    <div style="padding:15px">
        <app-sidebar-item name="Available Books" faicon="fa fa-book" route="">
        </app-sidebar-item>
        <app-sidebar-item name="Lists" faicon="fa fa-list" route="/lists">
        </app-sidebar-item>
    </div>
</div>