@import "~normalize.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~ngx-toastr/toastr";

@import "/src/app/my-mixin.scss";

body {
  font-family: "Helvetica", "Arial", sans-serif;

  height: 100vh;

  app-sidebar {
    color: $secondaryColor;
  }

  button {
    all: unset;
    cursor: pointer;
  }
}

app-available-books,
app-lists {
  flex: 1;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid $greyColor;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $greyColor;
}

th:first-child,
td:first-child {
  padding-left: 20px;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: $greyColor;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-confirm {
  background-color: $primaryColor;
  color: white;
  padding: 10px 10px;
  height: 20px;
  border: none;
  // border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-red {
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.error-msg {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

// .cdk-drop-list-dragging .cdk-drag {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
// }

.cdk-drag-preview {
  background-color: white;
}

.col-md {
  width: 10% !important;
  cursor: move;
}

.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}
.justify-content-end {
  justify-content: flex-end;
}
